// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  height 100%

body
  font normal 1em sans-serif
  vertical-gradient #eee, #fff
  text-align center

p
  margin-bottom 1em

h1,h2
  font-size 1.5em
  margin 1.5em
  color #0057c5
  text-shadow 1px 1px 2px white

h2
  font-size 1.2em
  margin: 1em 0 0.5em

#content
  padding 50px

#doc
  display block
  width 60em
  height 20em
  margin 0 auto

.logo
  width 50px
  height 50px
  display block
  margin 2em 1em
  float right

.conn-error
  display none
  background red
  color white
  font-weight bold
  position absolute
  top 0
  right 0
  padding 1em
